Repository MimitsuBot/mimitsu, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: repository, scope: commands

.github/labeler.yml:

'scope: repository':
  - ./*

'scope: commands':
  - src/commands/*
  - src/commands/**/*

feature: add token option in client login
  .gitignore
  README.MD
  src/Client.ts
Labels: scope: repository

feat: add extra files to .gitignore
  .gitignore
  yarn.lock
Labels: scope: repository

refactor: add extra files to .gitignore
  .gitignore
Labels: scope: repository

refactor: change *.lock to Runtime Data
  .gitignore
Labels: scope: repository

Delete yarn.lock
  yarn.lock
Labels: scope: repository

refactor: add a better files layout to .gitignore
  .gitignore
Labels: scope: repository

improvement: using dotenv/config for more space
  index.ts
Labels: scope: repository

improvement: remove testing feature
  src/commands/rpg/inventory.ts
Labels: scope: commands

feat: add test feature
  __tests__/Database.spec.ts
  jest.config.js
  package.json
  src/structures/Database.ts
  src/structures/models/settings.ts
  yarn.lock
Labels: scope: repository

feat: introduze http system
  package.json
  src/Client.ts
  src/http/index.ts
  src/loaders/HttpLoader.ts
  yarn.lock
Labels: scope: repository

improvement: improve http function
  src/http/index.ts
  src/loaders/HttpLoader.ts
Labels: none

feat: change application to javascript
  .prettierrc
  LICENSE
  README.MD
  __tests__/Database.spec.ts
  index.js
  jest.config.js
  package.json
  src/Client.js
  src/commands/rpg/fish.js
  src/commands/rpg/fish.ts
  src/commands/rpg/inventory.js
  src/http/api/guilds.js
  src/http/index.ts
  src/inhibitors/sendMessage.js
  src/listeners/client/ready.js
  src/listeners/client/ready.ts
  src/listeners/commandHandler/commandCooldown.js
  src/listeners/commandHandler/commandCooldown.ts
  src/loaders/HTTPLoader.js
  src/loaders/HttpLoader.ts
  src/loaders/index.js
  src/structures/Database.js
  src/structures/MimitsuEmbed.js
  src/structures/MimitsuEmbed.ts
  src/structures/Route.js
  src/structures/SettingsProvider.js
  src/structures/SettingsProvider.ts
  src/structures/models/settings.js
  src/utils/EndpointUtils.js
  src/utils/FileUtils.js
  yarn.lock
Labels: scope: repository, scope: commands

fix: remove unmeet dependency
  Procfile
  package.json
  src/loaders/HTTPLoader.js
  yarn.lock
Labels: scope: repository

fix: add check for enviroment variable
  package.json
  src/structures/Database.js
  yarn.lock
Labels: scope: repository

fix: add morgan libary
  .env.example
  package.json
  yarn.lock
Labels: scope: repository

fix: add module.exports
  src/Client.js
  src/structures/models/settings.js
Labels: none

fix: remove return
  src/loaders/HTTPLoader.js
Labels: none

feat: add start script
  package.json
Labels: scope: repository

feat: add web router
  Procfile
  src/Client.js
  src/commands/rpg/fish.js
  src/http/api/commands.js
  src/http/api/guilds.js
  src/http/api/web.js
  src/loaders/CommandLoader.js
  src/loaders/index.js
  src/utils/EndpointUtils.js
  src/utils/FileUtils.js
Labels: scope: repository, scope: commands

style
  src/http/api/web.js
Labels: none

fix: fix small error
  src/utils/EndpointUtils.js
Labels: none

fix: endpoint utils
  src/utils/EndpointUtils.js
Labels: none

fixes
  src/utils/EndpointUtils.js
Labels: none

fix: change josn to json
  src/utils/EndpointUtils.js
Labels: none

fix: remove client from parameters
  src/utils/EndpointUtils.js
Labels: none

fix: add cache to guild manager
  src/utils/EndpointUtils.js
Labels: none

refactor: add debug
  src/http/api/web.js
Labels: none

fix: remove cors
  .env.example
  src/http/api/commands.js
  src/http/api/web.js
  src/loaders/HTTPLoader.js
  src/utils/EndpointUtils.js
Labels: scope: repository

refactor: remove endpoint utils
  src/http/api/web.js
  src/loaders/HTTPLoader.js
Labels: none

fix: add endpoint utils
  src/http/api/web.js
Labels: none

debug
  src/http/api/web.js
Labels: none

fix: remove cors
  src/loaders/HTTPLoader.js
Labels: none

debug
  src/utils/EndpointUtils.js
Labels: none

fix: remove debug
  src/http/api/web.js
  src/utils/EndpointUtils.js
Labels: none

fixes
  src/http/api/web.js
  src/utils/EndpointUtils.js
Labels: none

stop
  src/utils/EndpointUtils.js
Labels: none

fixes
  src/utils/EndpointUtils.js
Labels: none

'-'
  src/http/api/web.js
Labels: none

feat: add cors
  src/loaders/HTTPLoader.js
Labels: none

fix: re-write Endpoint Utils
  src/utils/EndpointUtils.js
Labels: none
