Repository MimitsuBot/mimitsu, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: repository, scope: commands

fix: change grant type
  src/http/api/web.js
Labels: none

debug
  src/http/api/web.js
Labels: none

change variable name to ody
  src/http/api/web.js
Labels: none

debug
  src/http/api/web.js
Labels: none

debug
  src/http/api/web.js
Labels: none

debug
  src/http/api/web.js
Labels: none

Fixes
  src/http/api/web.js
Labels: none

fix: http route
  src/http/api/commands.js
Labels: none

test
  src/http/api/commands.js
Labels: none

fix
  src/http/api/commands.js
Labels: none

feat: add bot router
  src/http/api/bot.js
  src/http/api/commands.js
Labels: none

feat: add modules route
  src/commands/rpg/buy.js
  src/commands/rpg/explore.js
  src/commands/rpg/farm.js
  src/commands/rpg/fish.js
  src/http/api/modules.js
Labels: scope: commands

fix: remove cors
  src/loaders/HTTPLoader.js
Labels: none

feat: add cors
  src/loaders/HTTPLoader.js
Labels: none

feat: add worker dyno
  Procfile
Labels: scope: repository

feat: move database from structures
  src/Client.js
  src/commands/rpg/buy.js
  src/commands/rpg/explore.js
  src/commands/rpg/farm.js
  src/commands/rpg/fish.js
  src/database/index.js
  src/database/models/settings.js
  src/database/providers/SettingsProvider.js
  src/structures/MimitsuEmbed.js
Labels: scope: commands

.github/labeler.yml:

'scope: repository':
  - ./*

'scope: commands':
  - src/commands/*
  - src/commands/**/*
